* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard';
}

body {
  min-width: 360px;
  position: relative;
  padding: 0;
  /* overflow-y: auto; */
  height: 100vh;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  color: #000;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
