* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', '-apple-system';
}

body {
  min-width: 360px;
  position: relative;
  padding: 0;
  /* overflow-y: auto; */
  height: 100vh;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  color: #000;
  background: #fff;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-item {
  cursor: pointer;
  color: #d9d9d9;
  font-size: 20px;
}

.page-item.active {
  color: #101010;
  font-weight: 600;
}

.page-item.disabled {
  color: #d9d9d9;
  font-weight: 400;
}

.highlight {
  /* -webkit-animation: highlightBg 1s ease-in-out;
  -o-animation: highlightBg 1s ease-in-out;
  animation: highlightBg 1s ease-in-out; */
  -webkit-animation-iteration-count: 4;
  -o-animation-iteration-count: 4;
  animation-iteration-count: 4;
}
.voteModalTextWrap > span {
  color: #475357;
  font-size: 24px;
  font-weight: 700;
}

@-o-keyframes highlightBg {
  0% {
    background: transparent;
  }
  50% {
    background: #fff5f5;
  }
  to {
    background: transparent;
  }
}

@-webkit-keyframes highlightBg {
  0% {
    background: transparent;
  }
  50% {
    background: #fff5f5;
  }
  to {
    background: transparent;
  }
}

@keyframes highlightBg {
  0% {
    background: transparent;
  }
  50% {
    background: #fff5f5;
  }
  to {
    background: transparent;
  }
}
