.container {
  width: 100%;
  padding: 10px 15px;
  color: rgb(51, 51, 51);
}
.container a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: rgb(29, 156, 235);
  margin: 10px 0px 20px;
}
.container a:hover {
  text-decoration: underline;
}
.container p {
  padding: 0px 40px;
  font-size: 16px;
  color: rgb(102, 102, 102);
  margin: 10px 0px 20px;
  line-height: 30px;
}

.questionBox {
  display: flex;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.questionBox > img {
  align-self: center;
  width: 18px;
  height: 18px;
}
.questionBox > h3 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
}
.questionBox:hover > h3 {
  color: rgb(102, 102, 102);
}
.original {
  transition: 0.5s ease-in-out;
}
.reverse {
  transform: scaleY(-1);
  transition: 0.5s ease-in-out;
}

.opened {
  max-height: 200px;
  transition: 1s;
  overflow: hidden;
}
.closed {
  max-height: 0px;
  transition: 0.8s;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 5px;
  }
  .opened {
    max-height: 320px;
  }
  .container p {
    margin: 10px 0px;
    padding: 0px 25px;
  }
  .container a {
    margin: 10px 0px;
  }
  .questionBox > h3 {
    line-height: 24px;
  }
}
