.languageBox {
  display: flex;
  width: 210px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  border-bottom: 1px solid grey;
  align-items: center;
}

.link {
  text-decoration: none;
  color: rgb(102, 102, 102);
  margin: 3px;
  padding: 5px;
  padding-right: 20px;
  width: 100%;
  line-height: 24px;
}

@media screen and (max-width: 991px) {
  .languageBox {
    width: 100%;
  }
}
