.navArea {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.navBarContainer {
  display: flex;
  box-sizing: border-box;
  position: relative;
  max-width: 1170px;
  height: 85px;
  margin: 0px auto;
  align-items: center;
  padding: 20px 5px;
}

.backgroundStyle {
  width: 100%;
  height: 85px;
}

.iconStyle {
  display: none;
  margin-right: 15px;
  width: 24px;
  height: 21px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .navBarContainer {
    height: 70px;
  }
  .backgroundStyle {
    height: 70px;
  }
  .iconStyle {
    display: block;
  }
}

/* .pageLinkContainer {
  min-width: 798px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
} */

.pageLink {
  display: flex;
  margin: 0px 8px;
  padding: 0px 8px;
  text-align: center;
  line-height: 32px;
  color: rgb(102, 102, 102);
  text-decoration: none;
  align-items: center;
}

.list {
  list-style-type: none;
  float: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 500;
  color: rgb(102, 102, 102);
  letter-spacing: normal;
}

.languageList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  padding-top: 10px;
  z-index: 1;
}

/* .languageBox {
  display: flex;
  width: 210px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  border-bottom: 1px solid grey;
  align-items: center;
} */
/* 
.languageLink {
  text-decoration: none;
  color: rgb(102, 102, 102);
  margin: 3px;
} */
